<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            @*<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                <a href="/" class="navbar-brand"><img src="~/Images/logo.png" width="150px" /></a>*@
            <div class="col-sm-4">
                <div class="row" style="margin-top: 5px;">
                    <div class="col-sm-6">
                        <div class="input-group">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">



            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </nav>
</div>
